@mixin flexCenter($justify: center){
    display: flex;
    justify-content: $justify;
    align-items: center;
}

*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-weight: bold;
    color: #756452;
	user-select: none;
}

body{
    height: 1vh;
    background-color: #faf8f0;
}